<!--div class="row" style="padding: 10px;">
    <div class="column" style="background-color: none">
        <img src="/mimo-header_projekt_960x292.jpeg" alt="" style="height: 200px; width: fit-content">
    </div>
    <div class="column" style="background-color: none">
        <h4><b>Our Graph</b></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
    </div-->


 <div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <b>Semantic Web, RDF, Linked Open Data, Wikidata</b></a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
          <p>The idea of the <b>Semantic</b> Web was first put forward in 2009 by Tim Berners-Lee, one of the founders of the world wide web (Berners-Lee 2009). Instead of documents, the Semantic Web was to link entities (like names of people, places, things or ideas, etc.), enabling a new way of search and organization of knowledge in the world wide web.
In the context of the Semantic Web, the <b>Resource Description Framework (RDF)</b>  has established itself as a standard method for formulating simple statements following the structure ‘subject-predicate-object’. These statements are known as <b>RDF triples</b>(Hitzler et al. 2009; Dengel 2012). Each triple consists of two nodes (‘subject’ or ‘object’) and an edge connecting the nodes (‘predicate’ or ‘relation’). Some examples of triples ([Voltaire] -> [author_of] -> [Candide]; [Candide] -> [is_about] -> [philosophy]) are illustrated in figure 1.</p>

<p>One of the biggest hubs for <b>linked open data</b> worldwide at the moment is <b>Wikidata</b> , which was started in 2012 by the Wikimedia Foundation. Wikidata is an attempt to centralize and to structure human knowledge available in the online encyclopedia Wikipedia in a datafied form as **RDF triples**. With about 8 million SPARQL queries being run every day (Pintscher and Alipio 2021), Wikidata is an open, free and collaborative knowledge base that is readable by humans and machines. All content is published under a Creative Commons Zero License.</p>

        </div>
    </div>
</div>

<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <b>The Wikibase ecosystem</b></a>
      </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse noCrossRef">
      <div class="panel-body">
        The software behind Wikidata is Wikibase, a set of MediaWiki extensions developed by Wikimedia Germany. Just like Wikidata, Wikibase is free and open for everyone. It is used for example by the project ArtBase [ArtBase](https://artbase.rhizome.org/wiki/Query), the project [Enslaved.org](https://enslaved.org/)or the [German National Library](https://www.dnb.de/EN/Home/home_node.html).
        We chose a local instance of Wikibase as the infrastructure for our data in “Mining and Modeling Text” for several reasons:
        <ul>
        <li> Wikibase is suitable for storing the necessary amount of triples and comes with a SPARQL endpoint with numerous visualization possibilities.</li>
        <li>The software is open and free and as with the whole Wikimedia universe, there is a lively community always eager to help and a multitude of communication channels (Wiki conferences, Telegram group, Wikis).</li>
        <li>Wikibase enables us to store a multilingual knowledge graph (French/German/English), which was a feature we intended to use.</li>
        <li> As we match a part of our graph to Wikidata and intend to export a part of our graph to Wikidata too, the use of the same infrastructure as well as the reuse of existing properties was thought to facilitate data integration later.</li>
        <li> We see MiMoTextBase as part of the Wikibase ecosystem. Accordingly, we hope to make interesting data available to other projects and, conversely, to repurpose data made available elsewhere. The more projects in this ecosystem share the same infrastructure, the denser and more significant the whole graph becomes.</li>
        </ul>
      </div>
  </div>
</div>
<!-- /.panel -->


<!-- more panel classes to come -->

  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <b>The MiMoText project</b></a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
          MiMoText stands for "Mining and Modeling Text: Interdisciplinary applications, informational development, legal perspectives". It is an interdisciplinary project in computational literary studies conducted at the Trier Center for Digital Humanities (TCDH) at the University of Trier. The project is funded by the Research Initiative (2019–2023) of the federal state of Rhineland-Palatinate (Forschungsinitiative Rheinland-Pfalz).

We are dealing with new ways to model and analyze literary history and literary historiography. The overall aim is to establish a <b>knowledge graph</b> that aggregates statements relevant to literary history extracted from various sources. Our application domain is the French novel of the second half of the 18th century – the transfer to other domains and disciplines (other philologies, but also, for example, Philosophy, History and Art) has been planned and conceived from the beginning.


        </div>
    </div>
</div>



 <!-- /.panel -->
 <div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</b></a>
      </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
  </div>
</div>
<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <b>Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</b></a>
      </h4>
  </div>
  <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
  </div>
</div>
<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            <b>Aenean consequat lorem ut felis ullamcorper?</b></a>
      </h4>
  </div>
  <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
  </div>
</div>
<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</b></a>
      </h4>
  </div>
  <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
  </div>
</div>
<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            <b>Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus?</b></a>
      </h4>
  </div>
  <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
  </div>
</div>
<!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                 <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                  <b>Data & further MiMoText resources</b></a>
             </h4>
        </div>
     <div id="collapseNine" class="panel-collapse collapse noCrossRef">
    <div class="panel-body">


    <div class="row" style="background-color: none; padding: 10px">
           <!-- <h4><b>Sources & Data</b></h4> -->
          </div>
          <div class="row">
            <div class="column" style="background-color: #f5f5f5">
              <h4><a href="/">MiMoTextBot</a></h4>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                sequi nesciunt. Neque porro quisquam est.
              </p>
              <button class="btn-primary">Learn more</button>
            </div>
            <div class="column" style="background-color: none">
              <h4><a href="/">RDF Dump</a></h4>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                sequi nesciunt. Neque porro quisquam est.
              </p>
              <button class="btn-primary">Learn more</button>
            </div>
            <div class="column" style="background-color: none">
              <h4><a href="https://github.com/{{ include.username }}">GitHub</a></h4>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                sequi nesciunt. Neque porro quisquam est.
              </p>
              <button class="btn-primary">Learn more</button>
            </div>
            <div class="column" style="background-color: #f5f5f5">
              <h4><a href="/">etc.</a></h4>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                sequi nesciunt. Neque porro quisquam est.
              </p>
              <button class="btn-primary">Learn more</button>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
