
<head>
<style>
body {
  font-family: 'Lato', sans-serif;
}

#help-button{

  position: fixed;
  z-index: 1;
  top:60%;
  right: 0;

  background: #319596;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
  text-align: center; 
  padding-top: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  width: 40px;
  height: 160px;
}

.overlay {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #319596;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #337ab7;
}

.overlay .closebtn {
  position: absolute;
  top: 15%;
  right: 45px;
  font-size: 60px;
  color: #319596;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
</style>
</head>

<body>
    <button style="cursor:pointer" onclick="openNav()" id="help-button">H<br/>E<br/>L<br/>P</button>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">

    
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <b>Where to find…</b><p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <i>… MiMoTextBase</i>: <a href="http://data.mimotext.uni-trier.de" target="_blank" rel="noopener">data.mimotext.uni-trier.de</a><br/>
<i>… SPARQL-Endpoint</i>: <a href="http://query.mimotext.uni-trier.de" target="_blank" rel="noopener">query.mimotext.uni-trier.de</a><br/>
<i>… MiMoText project site</i>: <a href="https://mimotext.uni-trier.de" target="_blank" rel="noopener">https://mimotext.uni-trier.de</a><br/>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <b>Am I right here or Where do I start? </b> <p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <p>If you are new to SPARQL, you can begin the (short) <a href="./tutorial_index.html" style="display: inline;">Tutorial</a>, which will give you an overview of how to write basic queries based on examples in the <a href="http://data.mimotext.uni-trier.de" target="_blank" rel="noopener" style="display: inline;">MiMoTextBase</a>. It’s supposed to help newbies to get an introduction on SPARQL, but it cannot give you a deep knowledge of SPARQL; maybe the <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" style="display: inline;">helpful resources</a> can help you with that.
                </p>
                <p>If you are interested in the MiMoTextBase and its content on the <a href="./authors.html" style="display: inline;">authors</a>, <a href="./novels.html" style="display: inline;">novels</a>, <a href="./spaces.html" style="display: inline;">spaces</a> or <a href="./themes.html" style="display: inline;">themes</a> of the French novel in 1751-1800 with already some SPARQL knowledge, you can have a look at the Links. 
                </p>
                <p>Within <a href="./change_over_time.html" style="display: inline;">GOING FURTHER</a> there are some queries on the data containing overviews of items like dates of publication or themes changing over time and comparing the different sources of the data in the <a href="http://data.mimotext.uni-trier.de" target="_blank" rel="noopener" style="display: inline;">MiMoTextBase</a> together with some interpretation on the outcome which could show the potential of initial questions on further research.
                </p>
                <p>If you want more detailed information about the structure and the aims of our tutorial, you can find it in the <a href="./intro_sec_1.html" style="display: inline;">introduction of the tutorial</a>.Information on the infrastructure and the models behind the MiMoTextBase, you can find <a href="./aboutMiMoTextBase.html" style="display: inline;">here</a>.
                </p>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <b>I have no results. What can I do?</b><p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse noCrossRef">
            <div class="panel-body">
                <p>Having no results in the result table can have different reasons. A simple solution is to check whether you have written the variables the same in the <code>SELECT</code> and the <code>WHERE</code> part of the query.
                </p>
                <p>Another reason could be being too specific in the query. Not all items in the MiMoTextBase contain all information on all properties due to its sources. So it can be helpful to add the <code>OPTIONAL</code> function on some of the properties in your query, see <a href="./optional.html" style="display: inline;">here</a>    
                </p>
                </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <b>Error message: Bad aggregate</b> <p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you run into this error message, you probably have to group items. In the example below, we use the count function, but did not add <code>GROUP BY</code>. <br/>
                </p>
                <p>Query to retrieve count of published works per author<br/>
                </p>
                <p><iframe  style="width:50%;max-width:100%;height:450px" frameborder="0" src="http://query.mimotext.uni-trier.de/#prefix%20wd%3A%3Chttp%3A%2F%2Fdata.mimotext.uni-trier.de%2Fentity%2F%3E%20%23mimotext%20prefix%20for%20entity%20is%20wd%0Aprefix%20wdt%3A%3Chttp%3A%2F%2Fdata.mimotext.uni-trier.de%2Fprop%2Fdirect%2F%3E%20%23mimotext%20prefix%20for%20property%20is%20wdt%0A%20SELECT%20%3FauthorName%20(count%20(%3FauthorName)%20as%20%3Fcount)%0A%20WHERE%20%7B%0A%20%20%20%3Fwork%20wdt%3AP5%20%3Fauthor%20.%20%23%20work%20has%20author.%0A%20%20%20%3Fauthor%20rdfs%3Alabel%20%3FauthorName%20.%20%23%20get%20author%20label%20(not%20only%20Link%20to%20author)%0A%20%20%20FILTER(LANG(%3FauthorName)%20%3D%20%22en%22)%20%23%20other%20options%3A%20%22fr%22%2C%20%22de%22.%20Filter%20is%20needed%20as%20there%20is%20more%20than%20one%20label%20(language%20dependent)%0A%20%7D%20%0Aorder%20by%20desc%20(%3Fcount)%0Alimit%2020"></iframe>
                </p>
                <p>The solution is easy: We have to aggregate <code>?authorName</code> by grouping. We now can order the results descending via <code>order by desc(?count)</code> and set a limit of 20 to get the top 20.
                </p>
                <p><a href="https://tinyurl.com/2b9af2zt" target="_blank" rel="noopener">Query to retrieve authors with most novels published (top 20)</a>https://tinyurl.com/2b9af2zt
                </p>
                  <p><iframe  style="width:50%;max-width:100%;height:450px" frameborder="0" src="http://query.mimotext.uni-trier.de/#prefix%20wd%3A%3Chttp%3A%2F%2Fdata.mimotext.uni-trier.de%2Fentity%2F%3E%20%23mimotext%20prefix%20for%20entity%20is%20wd%0Aprefix%20wdt%3A%3Chttp%3A%2F%2Fdata.mimotext.uni-trier.de%2Fprop%2Fdirect%2F%3E%20%23mimotext%20prefix%20for%20property%20is%20wdt%0A%20SELECT%20%3FauthorName%20(count%20(%3FauthorName)%20as%20%3Fcount)%0A%20WHERE%20%7B%0A%20%20%20%3Fwork%20wdt%3AP5%20%3Fauthor%20.%20%23%20work%20has%20author.%0A%20%20%20%3Fauthor%20rdfs%3Alabel%20%3FauthorName%20.%20%23%20get%20author%20label%20(not%20only%20Link%20to%20author)%0A%20%20%20FILTER(LANG(%3FauthorName)%20%3D%20%22en%22)%20%23%20other%20options%3A%20%22fr%22%2C%20%22de%22.%20Filter%20is%20needed%20as%20there%20is%20more%20than%20one%20label%20(language%20dependent)%0A%20%7D%20%0Agroup%20by%20%3FauthorName%0Aorder%20by%20desc%20(%3Fcount)%0Alimit%2020"></iframe>
                </p>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    <b>I have too many results. What can I do?</b><p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Sometimes you can get many results on a query which can slow down the result generation or impair the readability of some visualizations. In those cases you could add the <code>LIMIT</code>-operation (see <a href="./limit.html" style="display: inline;">here</a>) to only get the TOP x-items or the <code>HAVING COUNT</code>-operation (see <a href="./count.html" style="display: inline;">here</a>) if you want only results that lie above a certain threshold.</p>
                <p>If some of the items appear more often in the results than they should, make sure that you filter all labels for one language (FR, EN, DE) separately as the graph is multilingual and the output will represent all languages within the graph, see <a href="./select.html" style="display: inline;">here</a>.
                </p>
                </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    <b>How to find the right item / right property?</b> <p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
                <p>You might look for the right identifier concerning the properties, novels, authors, themes or locations. The simplest way is to go on data.mimotext.uni-trier.de and use the search function typing in the label (for example “London” or “about” or “philosophy”). The numerical identifier of the property or the item is visible in the URL or behind the name of the item or the property:
                </p>
                <p>For your ease, we also provide you here with lists of themes, locations and properties and their numerical identifier in the knowledge graph.
                </p>
                
<h5>List of properties</h5>

<p>Query: [This is a list of all the properties used in this graph](https://tinyurl.com/28wfbxdf)</p>
<p><iframe  style="width:50%;max-width:100%;height:450px" frameborder="0" src="http://query.mimotext.uni-trier.de/#SELECT%20%3Fproperty%20%3FpropertyLabel%20%3Fprop%0AWHERE%20%7B%0A%20%20%20%20%3Fproperty%20a%20wikibase%3AProperty%20.%20%0A%20%20%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%22.%20%7D%0A%20%20%20%20BIND(STRAFTER(STR(%3Fproperty)%2C%20%22entity%2F%22)%20as%20%3Fprop)%0A%7D%0AORDER%20BY%20ASC(xsd%3Ainteger(STRAFTER(STR(%3Fproperty)%2C%20'P')))"></iframe>
</p>

<h5>List of themes</h5>

<p>For a list of all thematic concepts in the graph, see this query which lists all thematic concepts and their Q-Identifier, ordered by occurence.</p>

<p>Query: <a href="https://tinyurl.com/27a2yrtz" target="_blank" rel="noopener">Show all themes with corresponding Q-Identifier and occurence in the graph</a></p>


<h5>>List of locations</h5>

<p>For a list of all narrative places in the graph, see this query which lists all narrative places and their Q-Identifier, ordered by occurence.</p>

<p>Query: <a href="https://tinyurl.com/2ymyqm8e" target="_blank" rel="noopener">Show all narrative locations with corresponding Q-Identifier & occurrence</a>
</p>


<p>These queries list themes or locations ordered by occurence. We would recommend items or properties which have a certain number of connections in the graph, in order to get good results (with enough data points in it).</p>

            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    <b>The query is very slow or there is a time out. What can I do?</b> <p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
                <p>There are several possibilities for a slowdown or a time out of your query. It could be that the quantity of results is very high, so you might limit the results to check if the syntax of the query is ok. This is done by using the <a href="./limit.html">LIMIT</a> parameter . The <code>LIMIT</code> tells the algorithm where to stop, so if you insert for example <code>LIMIT 100</code> at the end of your query, it will stop after 100 results. This can be helpful for debugging. </p>
                <p>
Parameters which potentially slow down the query are <code>DISTINCT</code> or <code>ORDER BY</code>. A strategy might be to comment them out to see if these slow down your query.
</p>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                    <b>How to use the data for my research? </b><p style="float: right">&#9660;</p></a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
                <h5>Get an overview</h5>

<p>First, you can get an overview of the data in the MiMoTextGraph to find out which information and entities are relevant to your research interests and how to classify and interpret your query results. You have several options to do this:</p>

<p>The section The MiMoText project provides a summary of the project's contents and goals. A more detailed description of the project can be found in our paper <a href="https://www.euppublishing.com/doi/10.3366/ijhac.2022.0278" style="display: inline;" target="_blank" rel="noopener">Smart Modelling for Literary History (2022)</a>. For further information, we also recommend the resources listed under References, see <a href="./aboutMiMoTextBase.html">ABOUT</a>.
</p>
<p>The section How / Where to find the right item / right property is also helpful as it leads you to various overview lists.
</p>

<h5>Writing your own queries</h5>

<p>With the help of the <a href="./intro_sec_1.html" style="display: inline;">tutorial</a>, you can now query the Wikibase with your own queries to obtain information on your own research questions. The simpler queries from the section <a href="./getting_started.html" style="display: inline;">Getting Started</a> can be combined and extended to more complex search queries (cf. <a href="./spaces.html" style="display: inline;">Spaces</a>, <a href="./themes.html" style="display: inline;">Themes</a>, <a href="./going_further.html" style="display: inline;">Going Further</a>).
</p>
<p>To do this, either call the <a href="http://query.mimotext.uni-trier.de" style="display: inline;" target="_blank" rel="noopener">SPARQL endpoint</a> directly and enter your query or use one of the examples listed in the tutorial as a starting point and modify it as desired.
</p>
<h5>Export query results</h5>
<p>To share the result of a query or save it for later recall, you can display and copy the URL. It is also possible to embed the result in your own website. You will find the functions under the menu item “Link” on the right-hand side in the bar above the result display:
</p>

<p>Furthermore, it is possible to export the visualized results as an SVG file and the tabular results in various file formats and to process them for further analyses.
</p>



<h5>Licence</h5>
<p>The project is committed to the principles of Open Science. All data of “Mining and Modeling Text” is made open with a (CC-0. Data can be reused for any purpose.</p>
<p>
If you use want to cite our data, please credit it with:</p>
ZITIERHINWEIS

            </div>
        </div>
    </div>
    <!-- /.panel -->
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                        <b>How to reuse the data?</b> <p style="float: right">&#9660;</p></a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Where do I find the MiMoText data? </h5>
                    
                    
                    <h5>Can I download a dump of the whole graph?</h5>
                    
                    <p>Yes, you can. For further information, see <a href="./aboutMiMoTextBase.html" style="display: inline;">ABOUT</a>.</p> 
            
    
                </div>
            </div>
        </div>
        <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                                <b>Other helpful tutorials</b> <p style="float: right">&#9660;</p></a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>If you have not used Wikidata, the SPARQL syntax or the RDF format before, we can recommend the <a href="https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial" style="display: inline;" target="_blank" rel="noopener">Wikidata SPARQL Tutorial</a>, <a href="https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples" style="display: inline;" target="_blank" rel="noopener">Wikidata:SPARQL queries examples</a> or this <a href="https://wdqs-tutorial.toolforge.org/" style="display: inline;" target="_blank" rel="noopener">Wikidata Query Service Tutorial</a> by Wikimedia Israel as helpful resources. Furthermore, we can recommend Bob du Charme’s book Learning SPARQL as well as his blog.
                            </p>
                            <p>DuCharme, Bob. Learning SPARQL. Sebastopol, UNITED STATES: O’Reilly Media, 2013. <a href="http://ebookcentral.proquest.com/lib/uni-trier/detail.action?docID=1250020" style="display: inline;" target="_blank" rel="noopener">http://ebookcentral.proquest.com/lib/uni-trier/detail.action?docID=1250020</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
</div>
<!-- /.panel-group -->


  </div>
</div>





<script>
function openNav() {
  document.getElementById("myNav").style.width = "75%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
</body>
     