<div
  class=""
  style="
    background-image: url(./images/Mimotext_backgroundimage_05.jpeg);
    /* height: 600px; */
    opacity: 0.9;
  "
>
  <img
    src="./images/Mimotext_backgroundimage_05.jpeg"
    alt=""
    style="width: 100%; opacity: 0; height: 365px"
  />
  <div
    style="
    
      background-color: #f0f0f0;
      opacity: 0.9;
      min-height: 220px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
    "
  >
    <h2 style="font-weight: 500">{{include.title_1}}</h2>
    <p>{{ include.content_1 | markdownify }}</p>
  </div>
</div>
<br>

<div style="float: right; margin-left: 1cm; padding-right: 5px">
  <img src="images/mimo-masthead.jpg" alt="" style="width: 300px;" />
</div>
<div style="padding-left: 5px">
  <p><h2><a href="./aboutMiMoTextBase.html">{{ include.title_2 }}</a></h2>
  {{ include.content_2 | markdownify }}
  <a href="./aboutMiMoTextBase.html">
    <button class="btn-primary">About</button>
  </a></p>
</div>
<br>

<div
  style="
    
    background-color: #f5f5f5;
    min-height: 250px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  "
>
  <div style="float: left; margin-right: 1cm; margin-bottom: 20px">
    <img
      src="images/graph.png"
      alt=""
      style="height: 220px; margin-top: -10px"
    />
  </div>
  <h2><a href="./tutorial_index.html">{{ include.title_3 }}</a></h2>
  {{ include.content_3 | markdownify }}
  <a href="./tutorial_index.html">
    <button class="btn-primary">Tutorial</button></a
  >
</div>
<div
  style="clear: both; padding-left: 5px; padding-top: 5px; padding-bottom: 10px"
>
  <div style="float: right; margin-left: 1cm">
    <img src="images/sparql.png" alt="" style="height: 170px; margin-top: 30px" />
  </div>
  <div>
    <h2>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="http://query.mimotext.uni-trier.de"
        >{{ include.title_4 }}</a
      >
    </h2>
    {{ include.content_4 | markdownify }}
    {{ include.content_4a | markdownify}}
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://query.mimotext.uni-trier.de/proxy/wdqs/bigdata/namespace/wdq/sparql"
      >https://query.mimotext.uni-trier.de/proxy/wdqs/bigdata/namespace/wdq/sparql</a>
  </div>
  <a target="_blank" rel="noopener noreferrer" href="http://query.mimotext.uni-trier.de">
    <button class="btn-primary">SPARQL-Endpoint</button></a>
</div>
<br>
<div
  style="

    background-color: #f5f5f5;
    min-height: 220px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  "
>
<div style="float: left; margin-right: 1cm">
  <img src="images/gallery_icon.png" alt="" style="height: 150px; opacity: 0.3" />
</div>
<h2><a href="./gallery.html">{{ include.title_7 }}</a></h2>
{{ include.content_7 | markdownify }}
<a href="./gallery.html"> <button class="btn-primary">Gallery</button></a>
</div>
<br>

<div style="float: right; margin-left: 1cm">
  <img src="images/bubble-icon-27.jpeg" alt="" style="height: 150px; opacity: 0.3" />
</div>
<h2><a href="./faq.html">{{ include.title_5 }}</a></h2>
{{ include.content_5 | markdownify }}
<a href="./faq.html"> <button class="btn-primary">FAQ</button></a>

  <div>
    <h2>{{ include.title_6 | markdownify }}</h2>
    <p>
      <br /><iframe width="560" height="315" src="https://www.youtube.com/embed/kQj7tkWCNMM" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </p>
  </div>

<style>
  .navbar-inverse {
    margin-bottom: -40px;
  }
</style>
