<div class="">
  <!-- style="background-image: url('images/mimo-header_projekt_960x292.jpeg'); background-repeat: no-repeat;">-->
  <img
    src="images/mimo-header_projekt_960x292.jpeg"
    alt=""
    style="width: 100%; opacity: 0.5;"
  />

  <div style="clear: both">
    <h2 style="font-weight: lighter">{{include.title_1}}</h2>
    <p>{{ include.content_1 | markdownify }}</p>
  </div>
</div>
<br />

  <div style="float: right; margin-left: 1cm">
    <img src="images/mimo-masthead.jpg" alt="" />
  </div>
  <div>
    <h2><a href="/about/">{{ include.title_2 }}</a></h2>
    {{ include.content_2 | markdownify }}
    <a href="./about.html">
      <button class="btn-primary">About</button>
    </a>
  </div>

<br />
<div style="clear: both">
  <div style="float: left; margin-right: 1cm">
    <img src="images/graph.png" alt="" />
  </div>
    <h2><a href="../pages/tutorial/tutorial_index.md">{{ include.title_3 }}</a></h2>
    {{ include.content_3 | markdownify }}
    <a href="./tutorial_index.html">
    <button class="btn-primary">Tutorial</button></a>
</div>
<div style="clear: both">
  <div style="float: right; margin-left: 1cm">
    <img src="images/sparql.png" alt="" />
  </div>
  <div>
    <h2><a href="/sparql/">{{ include.title_4 }}</a></h2>
    {{ include.content_4 | markdownify }}
    <a href="/to_come">
    <button class="btn-primary">SPARQL-Endpoint</button></a>
  </div>
</div>
<br />
<div style="clear: both">
  <h2><a href="/help/">{{ include.title_5 }}</a></h2>
  {{ include.content_5 | markdownify }}
<a href="/help.html">
  <button class="btn-primary">Help</button></a>
</div>